<div class='text-center'>
  <h1>{{title}}</h1>
  <h4>{{description}}</h4>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>

  {{#if logged_in}}
    <section>
      <label>Comment</label>
      <textarea
        name='comment'
        id='comment'
        class='comment'
        placeholder='Your Message..'
      ></textarea>
      <button>Comment</button>
    </section>
    <a href='/profile'>profile</a>
    <button class='no-button' id='logout'>logout</button>
  {{else}}
    <a href='/login'> You must login, goofball!</a>
  {{/if}}

</div>